/*  学籍 中文版 在线验证报告 打印 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,input{margin:0; padding:0;}
body {background:#FFFFFF; margin: 0px; font-size:12px; text-align:center; line-height:21px; color:#333333;}
input{ font-size:12px; height:15px;}
a,a:link,a:visited {color:#006699; text-decoration:none;}
a:hover {text-decoration:underline;}
ul,ol{list-style:none;}
p{text-indent:2em;}
img{border:0;}
.clearit{clear:both;font-size:0;line-height:0;height:0; overflow:hidden;}

.div900{ margin:0 auto; width:900px;}
.div900_en{font:normal 12px/1.5 Tahoma,arial,sans-serif;}
.header{background:url(../images/xlbg_banner.png) no-repeat left top; height:74px; overflow:hidden;}
.header_en{background:url(../images/xlbg_banner_en.gif) no-repeat left top; height:74px; overflow:hidden;}
.header_lan{height:28px; line-height:30px; padding:0 15px; margin-top:-4px; margin-right:20px; float:right; background:#C8DFE5; text-align:center; border-radius:4px; color:#600; font-family:Tahoma,arial,sans-serif;}
.header_lan a,.header_lan a:link,.header_lan a:visited{color:#600;}
.bodyDiv{background:#E4F0F3; width:898px; border:1px solid #AACED8; margin-bottom:4px;}
.cntImg{ text-align:center;}
.leftDiv{width:174px;background:url(../images/yzLogoNew.jpg) no-repeat 14px 20px; padding-top:90px; padding-bottom:15px; float:left; display:inline;}
.leftDiv_en{background:url(../images/yzLogoNew_en.gif) no-repeat 14px 20px;}
.leftDiv ul{width:120px;margin:0 auto;text-align:left;font-weight:bold;color:#006699;}
.leftDiv ul.en{width:150px;}
.leftDiv ul li{margin-bottom:10px;padding:6px 0px 6px 25px;background:url(../images/leftMenuNew.png) no-repeat left center;}
.onReadLi{background:url(../images/leftMenuOnNew.png) no-repeat left center !important;}
.rightDiv{width:715px; padding-bottom:15px; float:left; display:inline; position:relative;}
.chooseLan{ text-align:left; margin:0 20px 10px 20px; height:26px; border-bottom:1px dotted #CCCCCC; font-weight:bold;color:#006699;}
.chooseLan a{ padding:3px 6px; color:#006699;}
.chooseLan a.current{ background:#006699; color:#FFF; text-decoration:none;}

.printBG{ height:29px; /*padding-top:10px;*/ margin-left:15px; clear:both;}
.yourAdd{ height:29px; padding-top:10px; overflow:hidden; clear:both; padding-left:6px; text-align:left;}
.tableTitle{clear:both; text-align:center; padding:10px 0 5px; font-family:"\9ED1\4F53","SimHei","黑体"; line-height:30px; font-size:26px;	font-weight:bold;}
.tableTitle_en{clear:both; text-align:center;padding:12px 0; margin:0 auto; font:bold 24px/30px Tahoma,arial,sans-serif; width:680px;}
.cntDivTop{ height:9px; width:715px; background:url(../images/cntDivTop.gif) no-repeat; overflow:hidden}
.cntDivBot{ height:9px; width:715px; overflow:hidden; background:url(../images/cntDivBot.gif) no-repeat;}
.cntDiv{background:url(../images/cntDivBG.gif) repeat-y; padding:10px 0;height:auto !important;height:740px;min-height:740px;}
.cntDivInner{padding:0 20px; text-align:left;}
.cntDiv p{margin: 1.12em;}
.cntDiv h1{clear:both; text-align:center; margin:0px 5px 10px 5px; padding:10px 0px;background:#F1F6FA;font-family:"\9ED1\4F53","SimHei","黑体"; font-size:20px; font-weight:normal; color:#006699;}
.cntDiv_en{font-size:14px;height:auto !important;height:520px;min-height:520px;}
.cntDiv_en h1{font-family:Tahoma,arial,sans-serif;}
.yzmBg{ height:128px;*height:131px;width:300px;}
.resultBtn{
	height:19px;
	line-height:19px;
	width:42px;
	text-align:center;
	font-size:12px;
	border:0;
	background:url(../images/emailsend.gif) no-repeat top;
}
.div1{padding-bottom:20px;}
.div2{
	width:628px;
	padding:1px;
	margin:0 auto;
}
.div3{
	width:627px;
	font-size:16px;
	border-top:1px solid #AACED8;
	border-left:1px solid #AACED8;
	background:#FFFFFF;
	margin:0 auto;
	overflow:hidden;
	}
.div3 td{
	color:#333333;
	border-bottom:1px solid #AACED8;
	border-right:1px solid #AACED8;
	height:43px;
	text-align:center;
	word-break:break-all;
	word-wrap:break-word;
}
#photoPositon{
	position:absolute;
	top:3px;
	left:3px;
}
#yzmPositon{
	position:absolute;
	left:12px;
	top:4px;
}
#yzmPositon td{
	border:0px !important;
}
.title1{ font-family:"\9ED1\4F53","SimHei","黑体";}
.title2{ font-family:"\9ED1\4F53","SimHei","黑体"; letter-spacing:5px;}
.cnt1{ font-family:"\6977\4F53_GB2312","\5B8B\4F53","KaiTi_GB2312","楷体_GB2312"; text-align:left; padding-left:8px;line-height:43px;}
.cnt2{ font-family:"Times New Roman", Times, serif; text-align:left; padding-left:8px; font-weight:bold;line-height:43px;}
#zdy{ width:625px; overflow:hidden;}
#zdy td{border:0px !important;font-family:"\6977\4F53_GB2312","\5B8B\4F53","KaiTi_GB2312","楷体_GB2312"; height:auto !important; line-height:21px; color:#FF0000; text-align:left;}
.zdy_td1{text-align:right !important;}
.font1 {font-size:16px;font-family:"\9ED1\4F53","SimHei","黑体";line-height:36px; text-align:left;}
.zysx{
	font-family:"\5B8B\4F53","SimSun","宋体";
	font-size:14px;
	width:572px;
	margin:0 auto;
	line-height:25px;
}
.zysx table td{
	border:0 !important;
	padding:0 !important;
	height:auto !important;
	text-align:left !important;
}

.forPrint .div1{
	border:3px double #000000;
	width:632px;
	margin:10px auto;
	padding-bottom:0;
}
.forPrint .div2{
	border:1px solid #000000;
	width:628px;
	padding:1px;
	position:relative;
}
.forPrint .div3{
	width:627px;
	font-size:16px;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	background:#FFFFFF;
	margin:0 auto;
	overflow:hidden;
	}
.forPrint .div3 td{
	color:#000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	height:43px;
	text-align:center;
	word-break:break-all;
	word-wrap:break-word;
}
.forPrint #zdy td{border:0px !important;font-family:"\6977\4F53_GB2312","\5B8B\4F53","KaiTi_GB2312","楷体_GB2312","宋体"; height:auto !important; line-height:21px; color:#FF0000; text-align:left;}


/*for en-xj table*/
.en_table{border-top:1px solid #AACED8;border-left:1px solid #AACED8;margin:0 auto; table-layout:fixed;}
.en_table_noborder{border-top:none;}
.en_table span{padding-left:5px; display:block;}
.en_table th{font:bold 12px/1.5 Tahoma,arial,sans-serif;text-align:left;color:#333333;border-bottom:1px solid #AACED8;border-right:1px solid #AACED8;height:43px;}
.en_table td{font:normal 12px/1.5 Tahoma,arial,sans-serif;text-align:left;color:#333333;border-bottom:1px solid #AACED8;border-right:1px solid #AACED8;height:43px;}
.en_table h2{font:bold 14px/40px Tahoma,arial,sans-serif; padding-left:20px;text-align:left;}
.en_table ol{ list-style:decimal; padding:0 20px 0 40px; line-height:21px;}
.en_table ol li{list-style:decimal !important;}
.en_photo1_xj{width:93px; height:131px; position:relative;}
.en_photo1_xj .en_photo1_img{position:absolute; left:6px; top:7px;}
.en_photo2_xj{width:334px; height:131px; position:relative;}
.en_photo2_xj .en_photo2_bg{position:absolute; left:0px; top:0px;}
.en_photo2_xj .en_photo2_2wm{position:absolute; left:17px; top:4px;}
.en_photo2_xj .en_photo2_txm{position:absolute; left:158px; top:4px;}

.logoBot{ height:56px;margin:40px 20px 10px 0; text-align:right;}

.footerBG{ background:#E4F0F3;border-top:1px solid #AACED8;}

/*huanghui 20171227  新增样式*/
.zbrq-title{
    font-size: 16px;color: #333;line-height: 1.2;
    display: block;
    margin: 10px 10px -7px;font-weight: 400;
}
.by_img{    
    vertical-align: bottom;
}

.div3 h2{
    line-height: 36px;
    font-size: 16px;
    font-family: "\9ED1\4F53","SimHei","黑体";
    padding-left: 26px;
    text-align: left;
    margin-top:5px;
}
.div3 td{position: relative;}
/**在线验证*/
.forPrint .table_zxyz td{
    border-bottom-color: #fff;
    border-right-color: #fff;
    font-size:12px;
    text-align: center;    
    line-height: 1.5;
    color: #000;
    font-family: "\9ED1\4F53","SimHei","黑体";
}
.table_zxyz span{
    padding-left:0;
    display:block;
}
.vcode-block{
    height: 120px;
    border-right: 1px solid #ccc;
}
.vcode-detail{
    font-size: 12px;
    display: block;
    text-align: center;
    padding-top: 40px;
    font-weight:900;
    font-family: "Times New Roman", Times, serif;
}
.vcode-title{   
    color:#727272; 
    margin-top: -18px;
    display: block;
    padding-left: 5px;
    text-align: center;
}

.icon-mini{
    margin-bottom: 5px;
}
.logoBot{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

/**英文版**/
.en_table h2{
    padding:0  23px;
}
.tableTitle_en{
    line-height:28px;
    padding:10px 0 5px;
}
.en_table ol{line-height:1.5}